In [31]:
from StrategyLearner import StrategyLearner, get_orders_df
import numpy as np
import matplotlib.pyplot as plt
from marketsimcode import compute_portvals
import datetime as dt
from util import get_data
import pandas as pd

In [32]:
impact = 0
sl = StrategyLearner(verbose=True, impact=impact)
symbol = "JPM"
sd = dt.datetime(2008, 1, 1)
ed = dt.datetime(2009, 12, 31)
commission = 0

In [33]:
sl.addEvidence(symbol, sd, ed)

Prices loaded
(492, 3) Index(['smaratio', 'bbratio', 'momentum'], dtype='object')
Data shapes (487, 3) (487, 1)
Starting learning

In [34]:
df_trades = sl.testPolicy(symbol, sd ,ed)

Testing policy
(492, 3) Index(['smaratio', 'bbratio', 'momentum'], dtype='object')
(492, 3) (492,)

In [35]:
orders = get_orders_df(df_trades, symbol)

In [36]:
orders

           Symbol Order  Shares
2008-01-22    JPM   BUY    1000
2008-01-28    JPM  SELL    2000
2008-02-07    JPM   BUY    2000
2008-02-08    JPM  SELL    2000
2008-02-14    JPM   BUY    2000
2008-02-15    JPM  SELL    2000
2008-02-19    JPM   BUY    2000
2008-02-20    JPM  SELL    2000
2008-03-03    JPM   BUY    2000
2008-03-07    JPM  SELL    2000
2008-03-10    JPM   BUY    2000
2008-03-11    JPM  SELL    2000
2008-03-14    JPM   BUY    2000
2008-03-20    JPM  SELL    2000
2008-03-26    JPM   BUY    2000
2008-04-01    JPM  SELL    2000
2008-04-04    JPM   BUY    2000
2008-04-07    JPM  SELL    2000
2008-04-10    JPM   BUY    2000
2008-04-18    JPM  SELL    2000
2008-05-08    JPM   BUY    2000
2008-05-09    JPM  SELL    2000
2008-05-21    JPM   BUY    2000
2008-05-22    JPM  SELL    2000
2008-06-09    JPM   BUY    2000
2008-06-13    JPM  SELL    2000
2008-06-30    JPM   BUY    2000
2008-07-01    JPM  SELL    2000
2008-07-11    JPM   BUY    2000
2008-07-16    JPM  SELL    2000
...           ...   ...     ...
2009-07-07    JPM   BUY    2000
2009-07-09    JPM  SELL    2000
2009-07-10    JPM   BUY    2000
2009-07-13    JPM  SELL    2000
2009-07-14    JPM   BUY    2000
2009-07-23    JPM  SELL    2000
2009-07-27    JPM   BUY    2000
2009-07-28    JPM  SELL    2000
2009-07-29    JPM   BUY    2000
2009-08-07    JPM  SELL    2000
2009-08-17    JPM   BUY    2000
2009-08-25    JPM  SELL    2000
2009-09-02    JPM   BUY    2000
2009-09-08    JPM  SELL    2000
2009-09-09    JPM   BUY    2000
2009-09-16    JPM  SELL    2000
2009-10-01    JPM   BUY    2000
2009-10-02    JPM  SELL    2000
2009-10-07    JPM   BUY    2000
2009-10-08    JPM  SELL    2000
2009-10-15    JPM   BUY    2000
2009-10-16    JPM  SELL    2000
2009-10-28    JPM   BUY    2000
2009-10-30    JPM  SELL    2000
2009-11-02    JPM   BUY    2000
2009-11-05    JPM  SELL    2000
2009-12-14    JPM   BUY    2000
2009-12-15    JPM  SELL    2000
2009-12-23    JPM   BUY    2000
2009-12-24    JPM  SELL    2000

[134 rows x 3 columns]

In [37]:
orders = orders.sort_index()
symbols = orders['Symbol'].unique().tolist()
start_date = sd
end_date = ed

In [38]:
# end_date

In [39]:
data = get_data(symbols, pd.date_range(start_date, end_date))
data = data.ffill()
data = data.bfill()
trade_days = data.index

In [40]:
orders

           Symbol Order  Shares
2008-01-22    JPM   BUY    1000
2008-01-28    JPM  SELL    2000
2008-02-07    JPM   BUY    2000
2008-02-08    JPM  SELL    2000
2008-02-14    JPM   BUY    2000
2008-02-15    JPM  SELL    2000
2008-02-19    JPM   BUY    2000
2008-02-20    JPM  SELL    2000
2008-03-03    JPM   BUY    2000
2008-03-07    JPM  SELL    2000
2008-03-10    JPM   BUY    2000
2008-03-11    JPM  SELL    2000
2008-03-14    JPM   BUY    2000
2008-03-20    JPM  SELL    2000
2008-03-26    JPM   BUY    2000
2008-04-01    JPM  SELL    2000
2008-04-04    JPM   BUY    2000
2008-04-07    JPM  SELL    2000
2008-04-10    JPM   BUY    2000
2008-04-18    JPM  SELL    2000
2008-05-08    JPM   BUY    2000
2008-05-09    JPM  SELL    2000
2008-05-21    JPM   BUY    2000
2008-05-22    JPM  SELL    2000
2008-06-09    JPM   BUY    2000
2008-06-13    JPM  SELL    2000
2008-06-30    JPM   BUY    2000
2008-07-01    JPM  SELL    2000
2008-07-11    JPM   BUY    2000
2008-07-16    JPM  SELL    2000
...           ...   ...     ...
2009-07-07    JPM   BUY    2000
2009-07-09    JPM  SELL    2000
2009-07-10    JPM   BUY    2000
2009-07-13    JPM  SELL    2000
2009-07-14    JPM   BUY    2000
2009-07-23    JPM  SELL    2000
2009-07-27    JPM   BUY    2000
2009-07-28    JPM  SELL    2000
2009-07-29    JPM   BUY    2000
2009-08-07    JPM  SELL    2000
2009-08-17    JPM   BUY    2000
2009-08-25    JPM  SELL    2000
2009-09-02    JPM   BUY    2000
2009-09-08    JPM  SELL    2000
2009-09-09    JPM   BUY    2000
2009-09-16    JPM  SELL    2000
2009-10-01    JPM   BUY    2000
2009-10-02    JPM  SELL    2000
2009-10-07    JPM   BUY    2000
2009-10-08    JPM  SELL    2000
2009-10-15    JPM   BUY    2000
2009-10-16    JPM  SELL    2000
2009-10-28    JPM   BUY    2000
2009-10-30    JPM  SELL    2000
2009-11-02    JPM   BUY    2000
2009-11-05    JPM  SELL    2000
2009-12-14    JPM   BUY    2000
2009-12-15    JPM  SELL    2000
2009-12-23    JPM   BUY    2000
2009-12-24    JPM  SELL    2000

[134 rows x 3 columns]

In [41]:
# data['JPM'].max()*1000

In [50]:
prices = data[symbols]
num_stocks = pd.DataFrame(0, index=trade_days, columns=symbols)

cols = ['value', 'cash']
port_value = pd.DataFrame(index=trade_days, columns=cols)

In [51]:
# port_value

In [52]:
cash = 100000
for date, row in orders.iterrows():
    if date not in trade_days:
        continue
    print(row)
    stock = row['Symbol']
    order = row['Order']
    shares = row['Shares']

    order_type = 1 if order == 'BUY' else -1
    print(date, stock)
    num_stocks.at[date, stock] += order_type * shares
    transac_cost = impact * shares * prices.loc[date, stock] + commission
    cash += (prices.loc[date, stock] * shares * (
        -1) * order_type - transac_cost)
    port_value.at[date, 'cash'] = cash

Symbol     JPM
Order      BUY
Shares    1000
Name: 2008-01-22 00:00:00, dtype: object
2008-01-22 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-01-28 00:00:00, dtype: object
2008-01-28 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-02-07 00:00:00, dtype: object
2008-02-07 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-02-08 00:00:00, dtype: object
2008-02-08 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-02-14 00:00:00, dtype: object
2008-02-14 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-02-15 00:00:00, dtype: object
2008-02-15 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-02-19 00:00:00, dtype: object
2008-02-19 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-02-20 00:00:00, dtype: object
2008-02-20 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-03-03 00:00:00, dtype: object
2008-03-03 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-03-07 00:00:00, dtype: object
2008-03-07 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-03-10 00:00:00, dtype: object
2008-03-10 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-03-11 00:00:00, dtype: object
2008-03-11 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-03-14 00:00:00, dtype: object
2008-03-14 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-03-20 00:00:00, dtype: object
2008-03-20 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-03-26 00:00:00, dtype: object
2008-03-26 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-04-01 00:00:00, dtype: object
2008-04-01 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-04-04 00:00:00, dtype: object
2008-04-04 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-04-07 00:00:00, dtype: object
2008-04-07 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-04-10 00:00:00, dtype: object
2008-04-10 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-04-18 00:00:00, dtype: object
2008-04-18 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-05-08 00:00:00, dtype: object
2008-05-08 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-05-09 00:00:00, dtype: object
2008-05-09 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-05-21 00:00:00, dtype: object
2008-05-21 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-05-22 00:00:00, dtype: object
2008-05-22 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-06-09 00:00:00, dtype: object
2008-06-09 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-06-13 00:00:00, dtype: object
2008-06-13 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-06-30 00:00:00, dtype: object
2008-06-30 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-07-01 00:00:00, dtype: object
2008-07-01 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-07-11 00:00:00, dtype: object
2008-07-11 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-07-16 00:00:00, dtype: object
2008-07-16 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-07-24 00:00:00, dtype: object
2008-07-24 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-07-30 00:00:00, dtype: object
2008-07-30 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-08-04 00:00:00, dtype: object
2008-08-04 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-08-05 00:00:00, dtype: object
2008-08-05 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-08-15 00:00:00, dtype: object
2008-08-15 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-08-22 00:00:00, dtype: object
2008-08-22 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-08-25 00:00:00, dtype: object
2008-08-25 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-08-26 00:00:00, dtype: object
2008-08-26 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-09-04 00:00:00, dtype: object
2008-09-04 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-09-08 00:00:00, dtype: object
2008-09-08 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-09-11 00:00:00, dtype: object
2008-09-11 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-09-18 00:00:00, dtype: object
2008-09-18 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-09-23 00:00:00, dtype: object
2008-09-23 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-09-25 00:00:00, dtype: object
2008-09-25 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-10-06 00:00:00, dtype: object
2008-10-06 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-10-08 00:00:00, dtype: object
2008-10-08 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-10-09 00:00:00, dtype: object
2008-10-09 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-10-10 00:00:00, dtype: object
2008-10-10 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-10-14 00:00:00, dtype: object
2008-10-14 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-10-15 00:00:00, dtype: object
2008-10-15 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-10-22 00:00:00, dtype: object
2008-10-22 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-10-28 00:00:00, dtype: object
2008-10-28 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-10-29 00:00:00, dtype: object
2008-10-29 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-10-31 00:00:00, dtype: object
2008-10-31 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-11-19 00:00:00, dtype: object
2008-11-19 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-11-26 00:00:00, dtype: object
2008-11-26 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-11-28 00:00:00, dtype: object
2008-11-28 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-12-03 00:00:00, dtype: object
2008-12-03 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-12-10 00:00:00, dtype: object
2008-12-10 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-12-12 00:00:00, dtype: object
2008-12-12 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-12-15 00:00:00, dtype: object
2008-12-15 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-12-16 00:00:00, dtype: object
2008-12-16 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2008-12-22 00:00:00, dtype: object
2008-12-22 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2008-12-26 00:00:00, dtype: object
2008-12-26 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-01-15 00:00:00, dtype: object
2009-01-15 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-01-22 00:00:00, dtype: object
2009-01-22 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-01-23 00:00:00, dtype: object
2009-01-23 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-01-26 00:00:00, dtype: object
2009-01-26 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-01-29 00:00:00, dtype: object
2009-01-29 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-02-03 00:00:00, dtype: object
2009-02-03 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-02-05 00:00:00, dtype: object
2009-02-05 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-02-06 00:00:00, dtype: object
2009-02-06 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-02-17 00:00:00, dtype: object
2009-02-17 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-02-24 00:00:00, dtype: object
2009-02-24 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-03-04 00:00:00, dtype: object
2009-03-04 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-03-11 00:00:00, dtype: object
2009-03-11 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-03-17 00:00:00, dtype: object
2009-03-17 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-03-18 00:00:00, dtype: object
2009-03-18 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-03-19 00:00:00, dtype: object
2009-03-19 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-03-23 00:00:00, dtype: object
2009-03-23 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-03-27 00:00:00, dtype: object
2009-03-27 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-04-01 00:00:00, dtype: object
2009-04-01 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-04-06 00:00:00, dtype: object
2009-04-06 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-04-09 00:00:00, dtype: object
2009-04-09 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-04-14 00:00:00, dtype: object
2009-04-14 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-04-15 00:00:00, dtype: object
2009-04-15 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-04-21 00:00:00, dtype: object
2009-04-21 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-04-23 00:00:00, dtype: object
2009-04-23 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-04-27 00:00:00, dtype: object
2009-04-27 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-05-01 00:00:00, dtype: object
2009-05-01 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-05-04 00:00:00, dtype: object
2009-05-04 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-05-05 00:00:00, dtype: object
2009-05-05 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-05-11 00:00:00, dtype: object
2009-05-11 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-05-15 00:00:00, dtype: object
2009-05-15 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-05-21 00:00:00, dtype: object
2009-05-21 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-05-26 00:00:00, dtype: object
2009-05-26 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-06-08 00:00:00, dtype: object
2009-06-08 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-06-09 00:00:00, dtype: object
2009-06-09 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-06-15 00:00:00, dtype: object
2009-06-15 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-06-22 00:00:00, dtype: object
2009-06-22 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-06-26 00:00:00, dtype: object
2009-06-26 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-06-29 00:00:00, dtype: object
2009-06-29 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-06-30 00:00:00, dtype: object
2009-06-30 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-07-01 00:00:00, dtype: object
2009-07-01 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-07-07 00:00:00, dtype: object
2009-07-07 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-07-09 00:00:00, dtype: object
2009-07-09 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-07-10 00:00:00, dtype: object
2009-07-10 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-07-13 00:00:00, dtype: object
2009-07-13 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-07-14 00:00:00, dtype: object
2009-07-14 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-07-23 00:00:00, dtype: object
2009-07-23 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-07-27 00:00:00, dtype: object
2009-07-27 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-07-28 00:00:00, dtype: object
2009-07-28 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-07-29 00:00:00, dtype: object
2009-07-29 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-08-07 00:00:00, dtype: object
2009-08-07 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-08-17 00:00:00, dtype: object
2009-08-17 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-08-25 00:00:00, dtype: object
2009-08-25 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-09-02 00:00:00, dtype: object
2009-09-02 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-09-08 00:00:00, dtype: object
2009-09-08 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-09-09 00:00:00, dtype: object
2009-09-09 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-09-16 00:00:00, dtype: object
2009-09-16 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-10-01 00:00:00, dtype: object
2009-10-01 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-10-02 00:00:00, dtype: object
2009-10-02 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-10-07 00:00:00, dtype: object
2009-10-07 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-10-08 00:00:00, dtype: object
2009-10-08 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-10-15 00:00:00, dtype: object
2009-10-15 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-10-16 00:00:00, dtype: object
2009-10-16 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-10-28 00:00:00, dtype: object
2009-10-28 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-10-30 00:00:00, dtype: object
2009-10-30 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-11-02 00:00:00, dtype: object
2009-11-02 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-11-05 00:00:00, dtype: object
2009-11-05 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-12-14 00:00:00, dtype: object
2009-12-14 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-12-15 00:00:00, dtype: object
2009-12-15 00:00:00 JPM
Symbol     JPM
Order      BUY
Shares    2000
Name: 2009-12-23 00:00:00, dtype: object
2009-12-23 00:00:00 JPM
Symbol     JPM
Order     SELL
Shares    2000
Name: 2009-12-24 00:00:00, dtype: object
2009-12-24 00:00:00 JPM

In [53]:
port_value

           value    cash
2008-01-02   NaN     NaN
2008-01-03   NaN     NaN
2008-01-04   NaN     NaN
2008-01-07   NaN     NaN
2008-01-08   NaN     NaN
2008-01-09   NaN     NaN
2008-01-10   NaN     NaN
2008-01-11   NaN     NaN
2008-01-14   NaN     NaN
2008-01-15   NaN     NaN
2008-01-16   NaN     NaN
2008-01-17   NaN     NaN
2008-01-18   NaN     NaN
2008-01-22   NaN   62730
2008-01-23   NaN     NaN
2008-01-24   NaN     NaN
2008-01-25   NaN     NaN
2008-01-28   NaN  145870
2008-01-29   NaN     NaN
2008-01-30   NaN     NaN
2008-01-31   NaN     NaN
2008-02-01   NaN     NaN
2008-02-04   NaN     NaN
2008-02-05   NaN     NaN
2008-02-06   NaN     NaN
2008-02-07   NaN   63570
2008-02-08   NaN  143510
2008-02-11   NaN     NaN
2008-02-12   NaN     NaN
2008-02-13   NaN     NaN
...          ...     ...
2009-11-18   NaN     NaN
2009-11-19   NaN     NaN
2009-11-20   NaN     NaN
2009-11-23   NaN     NaN
2009-11-24   NaN     NaN
2009-11-25   NaN     NaN
2009-11-27   NaN     NaN
2009-11-30   NaN     NaN
2009-12-01   NaN     NaN
2009-12-02   NaN     NaN
2009-12-03   NaN     NaN
2009-12-04   NaN     NaN
2009-12-07   NaN     NaN
2009-12-08   NaN     NaN
2009-12-09   NaN     NaN
2009-12-10   NaN     NaN
2009-12-11   NaN     NaN
2009-12-14   NaN  188210
2009-12-15   NaN  266070
2009-12-16   NaN     NaN
2009-12-17   NaN     NaN
2009-12-18   NaN     NaN
2009-12-21   NaN     NaN
2009-12-22   NaN     NaN
2009-12-23   NaN  186870
2009-12-24   NaN  266690
2009-12-28   NaN     NaN
2009-12-29   NaN     NaN
2009-12-30   NaN     NaN
2009-12-31   NaN     NaN

[505 rows x 2 columns]

In [54]:
num_stocks = num_stocks.cumsum()
port_value['cash'] = port_value['cash'].ffill()
port_value['stock_val'] = (num_stocks * prices).sum(axis=1)
port_value['cash'] = port_value['cash'].fillna(100000)
port_value['value'] = port_value['cash'] + port_value['stock_val']
port_value.join(num_stocks)

               value      cash  stock_val   JPM
2008-01-02  100000.0  100000.0        0.0     0
2008-01-03  100000.0  100000.0        0.0     0
2008-01-04  100000.0  100000.0        0.0     0
2008-01-07  100000.0  100000.0        0.0     0
2008-01-08  100000.0  100000.0        0.0     0
2008-01-09  100000.0  100000.0        0.0     0
2008-01-10  100000.0  100000.0        0.0     0
2008-01-11  100000.0  100000.0        0.0     0
2008-01-14  100000.0  100000.0        0.0     0
2008-01-15  100000.0  100000.0        0.0     0
2008-01-16  100000.0  100000.0        0.0     0
2008-01-17  100000.0  100000.0        0.0     0
2008-01-18  100000.0  100000.0        0.0     0
2008-01-22  100000.0   62730.0    37270.0  1000
2008-01-23  104430.0   62730.0    41700.0  1000
2008-01-24  103740.0   62730.0    41010.0  1000
2008-01-25  102540.0   62730.0    39810.0  1000
2008-01-28  104300.0  145870.0   -41570.0 -1000
2008-01-29  102590.0  145870.0   -43280.0 -1000
2008-01-30  102680.0  145870.0   -43190.0 -1000
2008-01-31  102630.0  145870.0   -43240.0 -1000
2008-02-01  101860.0  145870.0   -44010.0 -1000
2008-02-04  103710.0  145870.0   -42160.0 -1000
2008-02-05  105840.0  145870.0   -40030.0 -1000
2008-02-06  105990.0  145870.0   -39880.0 -1000
2008-02-07  104720.0   63570.0    41150.0  1000
2008-02-08  103540.0  143510.0   -39970.0 -1000
2008-02-11  103970.0  143510.0   -39540.0 -1000
2008-02-12  104000.0  143510.0   -39510.0 -1000
2008-02-13  103280.0  143510.0   -40230.0 -1000
...              ...       ...        ...   ...
2009-11-18  226480.0  267810.0   -41330.0 -1000
2009-11-19  227270.0  267810.0   -40540.0 -1000
2009-11-20  227360.0  267810.0   -40450.0 -1000
2009-11-23  226580.0  267810.0   -41230.0 -1000
2009-11-24  227340.0  267810.0   -40470.0 -1000
2009-11-25  227640.0  267810.0   -40170.0 -1000
2009-11-27  228430.0  267810.0   -39380.0 -1000
2009-11-30  227330.0  267810.0   -40480.0 -1000
2009-12-01  227590.0  267810.0   -40220.0 -1000
2009-12-02  227860.0  267810.0   -39950.0 -1000
2009-12-03  228370.0  267810.0   -39440.0 -1000
2009-12-04  228040.0  267810.0   -39770.0 -1000
2009-12-07  228510.0  267810.0   -39300.0 -1000
2009-12-08  228550.0  267810.0   -39260.0 -1000
2009-12-09  228570.0  267810.0   -39240.0 -1000
2009-12-10  228490.0  267810.0   -39320.0 -1000
2009-12-11  228790.0  267810.0   -39020.0 -1000
2009-12-14  228010.0  188210.0    39800.0  1000
2009-12-15  227140.0  266070.0   -38930.0 -1000
2009-12-16  226660.0  266070.0   -39410.0 -1000
2009-12-17  227700.0  266070.0   -38370.0 -1000
2009-12-18  227060.0  266070.0   -39010.0 -1000
2009-12-21  226150.0  266070.0   -39920.0 -1000
2009-12-22  226110.0  266070.0   -39960.0 -1000
2009-12-23  226470.0  186870.0    39600.0  1000
2009-12-24  226780.0  266690.0   -39910.0 -1000
2009-12-28  226940.0  266690.0   -39750.0 -1000
2009-12-29  227160.0  266690.0   -39530.0 -1000
2009-12-30  227120.0  266690.0   -39570.0 -1000
2009-12-31  226990.0  266690.0   -39700.0 -1000

[505 rows x 4 columns]

In [48]:
port_value

                value      cash  stock_val
2008-01-02   100000.0  100000.0        0.0
2008-01-03   100000.0  100000.0        0.0
2008-01-04   100000.0  100000.0        0.0
2008-01-07   100000.0  100000.0        0.0
2008-01-08   100000.0  100000.0        0.0
2008-01-09   100000.0  100000.0        0.0
2008-01-10   100000.0  100000.0        0.0
2008-01-11   100000.0  100000.0        0.0
2008-01-14   100000.0  100000.0        0.0
2008-01-15   100000.0  100000.0        0.0
2008-01-16   100000.0  100000.0        0.0
2008-01-17   100000.0  100000.0        0.0
2008-01-18   100000.0  100000.0        0.0
2008-01-22   100000.0   62730.0    37270.0
2008-01-23   146130.0   62730.0    83400.0
2008-01-24   185760.0   62730.0   123030.0
2008-01-25   221970.0   62730.0   159240.0
2008-01-28   270580.0  145870.0   124710.0
2008-01-29   232430.0  145870.0    86560.0
2008-01-30   189060.0  145870.0    43190.0
2008-01-31   145870.0  145870.0        0.0
2008-02-01   101860.0  145870.0   -44010.0
2008-02-04    61550.0  145870.0   -84320.0
2008-02-05    25780.0  145870.0  -120090.0
2008-02-06   -13650.0  145870.0  -159520.0
2008-02-07   -59880.0   63570.0  -123450.0
2008-02-08   -16370.0  143510.0  -159880.0
2008-02-11   -54190.0  143510.0  -197700.0
2008-02-12   -93550.0  143510.0  -237060.0
2008-02-13  -138100.0  143510.0  -281610.0
...               ...       ...        ...
2009-11-18 -4733120.0  267810.0 -5000930.0
2009-11-19 -4678070.0  267810.0 -4945880.0
2009-11-20 -4707540.0  267810.0 -4975350.0
2009-11-23 -4844710.0  267810.0 -5112520.0
2009-11-24 -4790940.0  267810.0 -5058750.0
2009-11-25 -4793610.0  267810.0 -5061420.0
2009-11-27 -4733450.0  267810.0 -5001260.0
2009-11-30 -4913630.0  267810.0 -5181440.0
2009-12-01 -4920570.0  267810.0 -5188380.0
2009-12-02 -4925690.0  267810.0 -5193500.0
2009-12-03 -4898830.0  267810.0 -5166640.0
2009-12-04 -4981830.0  267810.0 -5249640.0
2009-12-07 -4959090.0  267810.0 -5226900.0
2009-12-08 -4993030.0  267810.0 -5260840.0
2009-12-09 -5029590.0  267810.0 -5297400.0
2009-12-10 -5079710.0  267810.0 -5347520.0
2009-12-11 -5077930.0  267810.0 -5345740.0
2009-12-14 -5224590.0  188210.0 -5412800.0
2009-12-15 -5067340.0  266070.0 -5333410.0
2009-12-16 -5172510.0  266070.0 -5438580.0
2009-12-17 -5067360.0  266070.0 -5333430.0
2009-12-18 -5195330.0  266070.0 -5461400.0
2009-12-21 -5362650.0  266070.0 -5628720.0
2009-12-22 -5408250.0  266070.0 -5674320.0
2009-12-23 -5396730.0  186870.0 -5583600.0
2009-12-24 -5400530.0  266690.0 -5667220.0
2009-12-28 -5417560.0  266690.0 -5684250.0
2009-12-29 -5425630.0  266690.0 -5692320.0
2009-12-30 -5470960.0  266690.0 -5737650.0
2009-12-31 -5529510.0  266690.0 -5796200.0

[505 rows x 3 columns]

In [ ]:
plt.figure(figsize=(10,10))
plt.plot(pred, 'o', alpha=0.05, color='red')
plt.plot(actual, 'o', alpha=0.05, color='blue')

In [ ]:
pred.shape